
<head>
  <link rel="stylesheet" href="pages/users/users.css">
</head>

<body>

<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
  <symbol id="bootstrap" viewBox="0 0 118 94">
    <title>Bootstrap</title>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"></path>
  </symbol>
  <!-- home -->
  <symbol id="home" viewBox="0 0 16 16">
    <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z"/>
    <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"/>
  </symbol>
  <symbol id="speedometer2" viewBox="0 0 16 16">
    <path d="M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5 0 0 1 8 4zM3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 10zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 9.31a.91.91 0 1 0 1.302 1.258l3.434-4.297a.389.389 0 0 0-.029-.518z"/>
    <path fill-rule="evenodd" d="M0 10a8 8 0 1 1 15.547 2.661c-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8 13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A7.988 7.988 0 0 1 0 10zm8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397 12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7 7 0 0 0 8 3z"/>
  </symbol>
  <symbol id="table" viewBox="0 0 16 16">
    <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z"/>
  </symbol>
  <!-- meus dados -->
  <symbol id="people-circle" viewBox="0 0 16 16">
    <!-- <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
 -->
 <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
  </symbol>
  <!-- usuarios -->
  <symbol id="grid" viewBox="0 0 16 16">
    <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
  </symbol>
</svg>


<main class="d-flex flex-nowrap" >
  <h1 class="visually-hidden"></h1>

  <!-- <div class="b-example-divider b-example-vr"></div> -->

  <div class="bar d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <span class="fs-4">SISTEMA</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto home-icone">
      <li class="nav-item">
        <a href="" ng-click="redirectToHome()" class="nav-link" aria-current="page">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"/></svg>
          Home
        </a>
      </li>
      <li>
        <a href="" ng-click="redirectToUsers()" class="active nav-link link-body-emphasis user-icone">
          <svg class="bar-name bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
          <span class="bar-name">Usuarios</span>
        </a>
      </li>
      <li>
        <a href="" class="nav-link link-body-emphasis dados-icone" ng-click="redirectToMeusDados()">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
          Meus dados
        </a>
      </li>
    </ul>
    <hr>
    <button class="btn-sair btn btn-danger" ng-click="logout()">Sair</button>
  </div>

  <div class="b-example-divider b-example-vr barra"></div>


  <div class="cont-home d-flex flex-column flex-shrink-0 bg-body-tertiary">
    <div class="container mt-3">
        <h2 class="label-user mb-4">Lista de Usuários</h2>

        <div class="filter-user row mb-3">

            <div class="filter-nome col-md-3">
                <input type="text" class="form-control" id="name-filter" ng-model="nameFilter" placeholder="Filtrar por nome">
            </div>
            <div class="filter-email col-md-3">
                <input type="text" class="form-control" id="email-filter" ng-model="emailFilter" placeholder="Filtrar por email">
            </div>
            <div class="filter-button col-md-2">
                <button class="btn btn-primary" id="filter-button" ng-click="applyFilters()">Filtrar</button>
                <button class="btn btn-secondary" ng-click="clearFilters()">Limpar</button>
            </div>            
            

            <div class="filter-page col-md-2">
                <!-- <label for="items-per-page" class="me-2">Itens por página:</label> -->
                <select id="items-per-page" class="form-select" ng-model="selectedItemsPerPage" ng-change="updateItemsPerPage()">
                    <option value="3">3</option>
                    <option value="5">5</option>
                    <option value="7">7</option>
                </select>                
            </div>
        </div>

        <table class="table table-striped">
            <thead >
                <tr>
                  <th class="fixed-th">Nome</th>
                  <th class="fixed-th">Email</th>
                  <th class="fixed-th">Login</th>
                    <!-- <th>Perfil de Usuário</th> -->
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="usuario in listUsuario.content">
                    <td>{{ usuario.nome }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.login }}</td>
                    <!-- <td>{{ usuario.perfil }}</td> -->
                </tr>
            </tbody>
        </table>

        <nav class="fixed-pagination">
            <ul class="pagination justify-content-center paginar">
                <li ng-class="{disabled: currentPage === 0}">
                    <a ng-click="prevPage()" href="" aria-label="Anterior" style="margin-right: 10px;">
                        <span aria-hidden="true" >&laquo;</span>Anterior
                    </a>
                </li>
                <li ng-repeat="page in getPages()" ng-class="{active: currentPage === page}">
                    <a ng-click="setPage(page)" href="">{{ page }}</a>
                </li>
                <li ng-class="{disabled: currentPage === pageCount()}">
                    <a ng-click="nextPage()" href="" aria-label="Próxima" style="margin-left: 10px;">Próxima
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
        

    </div>



    </div>


  </div>

</main>

</body>
